.project {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Intro Section */
.project__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__text h2 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.project__text h2:hover {
  color: var(--hover);
  cursor: pointer;
}

.project__text p {
  white-space: pre-line;
}

.project__text svg {
  width: 3em;
  height: 3rem;
  color: var(--github);
}

.project__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: flex-start;
}

.project__tag {
  background-color: var(--light-oak);
  color: var(--white);
  padding: 0.3rem 0.7rem;
  margin: 0.3rem;
  font-size: 0.85rem;
}

.project__slideshow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project__navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.project__navigations > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project__navigations > div:first-child {
  justify-content: flex-start;
}

.project__navigations > div:last-child {
  justify-content: flex-end;
}

.github-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.github-icon-label {
  font-size: 0.75rem;
  margin-top: 0.3rem;
  color: var(--light-oak);
}

.project-github-icon:hover {
  color: var(--hover);
}

/* Tablet and above */
@media (min-width: 768px) {
}

/* Desktop and above */
@media (min-width: 1024px) {
  .project {
    flex-direction: row;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }
  .project__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .project__text h2 {
    font-size: 1.6rem;
  }

  .project__slideshow {
    width: 100%;
  }
}
