.slideshow {
  width: 100%;
  height: auto;
  max-width: 80rem;
}

.slideshow img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 4 / 3;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.slideshow img:hover {
  cursor: pointer;
}
.slideshow__navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}

.slideshow__navigations .navigation-arrow {
  color: var(--gray-400);
}

.navigation-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.slideshow__dots {
  display: flex;
  justify-content: center;
  gap: 0.1rem;
}

.slideshow__dot {
  flex: 1;
  height: 0.2rem;
  background: var(--gray-400);
  border-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.slideshow__dot.active {
  background: var(--hover);
}
