.thoughts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.thoughts__intro {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.thoughts__category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.thoughts__category-button svg {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--text-secondary);
}

.thoughts__category-button svg:hover {
  transform: scale(1.1);
  color: var(--hover);
}

/* Thoughts posts section */
.thoughts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}

.thoughts__post {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.thoughts__post.loaded {
  opacity: 1;
}

.thoughts__post__cover {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  padding: 0.5em;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.01rem solid var(--light-oak);
  border-radius: 0.2rem;
}

.thoughts__post__text {
  text-align: left;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.thoughts__post__text h2 {
  font-size: 1.2rem;
  cursor: pointer;
}

.thoughts__post__text h2:hover {
  color: var(--hover);
}

.thoughts__post__text p {
  max-height: 4rem;
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thoughts__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.thoughts__readMore {
  transition: color 0.2s ease;
  color: var(--hover);
  font-size: 1rem;
}

.thoughts__readMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Tablet and above */
@media (min-width: 768px) {
  .thoughts__contentBlock {
    width: 90%;
  }

  .thoughts__post {
    max-width: 80%;
  }

  .thoughts__post__text h2 {
    font-size: 1.4rem;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .thoughts__category-button svg {
    font-size: 3.5rem;
  }

  .thoughts__contentBlock {
    width: 70%;
  }
  .thoughts__post {
    max-width: 70%;
  }
  .thoughts__post__text h2 {
    font-size: 1.6rem;
  }
}
