.thoughts__author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.thoughts__author__icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.thoughts__author__info {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
}
