.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-height: 90vh;
  object-fit: contain;
  height: auto;
  display: block;
}

.nav-left,
.nav-right {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}
.nav-left {
  left: 1rem;
}
.nav-right {
  right: 1rem;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
