.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 1rem;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-image {
  max-height: 80vh;
  object-fit: contain;
  height: auto;
  display: block;
  border-radius: 0.25rem;
}

/* New bottom nav container */
.modal-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-nav-arrow {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
