.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.blog__intro {
  display: flex;
  text-align: left;
  flex-direction: column;
}

/* Blog posts section */
.blog__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}

.blog__category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.blog__category-button svg {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: var(--text-secondary);
}

.blog__category-button svg:hover {
  transform: scale(1.1);
  color: var(--hover);
}

.blog__post {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.blog__post img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.blog__post__text {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.blog__post__text h2 {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.blog__read-more {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.2s ease;
}
.blog__read-more:hover {
  color: var(--hover);
  text-decoration: underline;
}

.blog__author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.blog__author img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.blog__author__info {
  display: flex;
  flex-direction: column;
  color: var(--text-secondary);
  font-size: 0.6rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

/* Tablet and above */
@media (min-width: 768px) {
  .blog__contentBlock {
    width: 90%;
  }

  .blog__post__text h2 {
    font-size: 1.4rem;
  }

  .blog__author__icon {
    width: 2rem;
    height: 2rem;
  }

  .blog__author__info {
    font-size: 0.8rem;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .blog__contentBlock {
    width: 70%;
  }
  .blog__post__text h2 {
    font-size: 1.6rem;
  }

  .blog__author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .blog__author__info {
    font-size: 1rem;
  }
}
