@import "./variables.css";

@import "./shared/navbar.css";
@import "./shared/footer.css";
@import "./shared/contact.css";
@import "./shared/pageNotFound.css";

@import "./home/home.css";
@import "./home/stackChart.css";

@import "./portfolio/portfolio.css";
@import "./portfolio/timeline.css";
@import "./portfolio/project.css";
@import "./portfolio/slideShow.css";

@import "./gallery/gallery.css";

@import "./blog/blog.css";
@import "./blog/blogAuthor.css";
@import "./blog/post.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

section {
  padding: 1.2rem;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: var(--font-weight-light);
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.8rem;
  font-weight: var(--font-weight-light);
  color: var(--text-secondary);
  letter-spacing: 0.07rem;
  line-height: 2;
}

ul {
  font-size: 0.8rem;
  font-weight: var(--font-weight-light);
  color: var(--text-secondary);
  line-height: 1.5;
  letter-spacing: 0.07rem;
  padding-left: 1rem;
  list-style-type: disc;
  text-align: left;
}

ul li {
  margin-bottom: 0.2rem;
}

/* Tablet and above */
@media (min-width: 768px) {
  section {
    padding: 2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  ul {
    font-size: 0.9rem;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  section {
    width: 90%;
    max-width: 75rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  ul {
    font-size: 1rem;
  }
}

.page__divider {
  height: 0.2rem;
  opacity: 0.8;
  background-color: var(--line-break);
}

.page__divider-gradient {
  height: 0.2rem;
  background: linear-gradient(to right, transparent, var(--black), transparent);
  border: none;
  opacity: 0.5;
}

.animate-slide-left {
  --slide-distance: -200px;
  animation: slide-in 1s ease forwards;
}

.animate-slide-right {
  --slide-distance: 200px;
  animation: slide-in 1s ease forwards;
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in-out;
}

.animate-fade-slide-up {
  animation: fade-slide-up 1s ease-out forwards;
}

.animate-fade-zoom-in {
  animation: fade-zoom-in 1s ease-out forwards;
}

.typing-cursor::after {
  content: "|";
  animation: blink 1s ease-in-out 1 forwards;
  color: var(--black);
  margin-left: 0.2rem;
}
@keyframes blink {
  0%,
  25%,
  75% {
    opacity: 1;
  }
  12.5%,
  62.5%,
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(var(--slide-distance));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
