.pageNotFound {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.pageNotFound__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
}

.pageNotFound__intro img {
  max-width: 30%;
  margin-top: 2rem;
  --slide-distance: 400px;
  animation: slide-in 1s ease forwards;
}

.pageNotFound__back-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;

  background-color: var(--primary);
  color: white;
}

.pageNotFound__back-button:hover {
  background-color: var(--hover);
}
