.stack-chart {
  width: 80vw;
  max-width: 90%;
}

.stack-bars {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stack-bar {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  transition: width 0.5s ease-out, background-color 0.3s ease,
    transform 0.3s ease;
  transform-origin: left center;
  opacity: 0;
}

.stack-bar.animate-bar {
  animation: grow-bar 1.2s ease-out forwards;
}

.stack-bar:hover {
  transform: scale(1.015);
}

.stack-bar.active {
  transform: scale(1.025);
}

.stack-label {
  color: var(--white);
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  font-weight: var(--font-weight-bold);
}

.stack-bar.dimmed {
  filter: contrast(15%);
  transition: filter 0.3s ease, opacity 0.3s ease;
}

@keyframes grow-bar {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .stack-chart {
    width: 40vw;
  }
}
