.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog section {
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  align-items: center;
}

.blog__intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.blog__intro h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-primary);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.blog__intro p {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

/* Blog posts section */

.blog__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 2rem;
}

.blog__category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}

.blog__category-button svg {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: var(--text-secondary);
  transition: transform 0.3s, color 0.3s;
}

.blog__category-button svg:hover {
  transform: scale(1.1);
  color: var(--hover);
}

.blog__post {
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.blog__post__image {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  margin: 0 auto;
}

.blog__post__title h2 {
  text-align: left;
  padding: 0 5px;

  font-size: 2rem;
  font-weight: 500;
  color: var(--text-primary);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.blog__post__title:hover h2 {
  color: var(--hover);
}

.blog__post__desc {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-secondary);
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
}

.blog__post__author {
  gap: 10px;
  font-size: 1rem;
  color: var(--text-primary);
}

.blog__post__author-icon {
  width: 1.5vw;
  height: 1.5vw;
  object-fit: cover;
}

.blog__post__author-name {
  font-weight: bold;
  color: var(--text-primary);
}

.blog__post__author-date {
  color: var(--text-primary);
}

@media only screen and (max-width: 830px) {
  .blog__post__title h1 {
    font-size: 5vw;
  }

  .blog__post__desc {
    font-size: 2.5vw;
  }

  .blog__post__author {
    font-size: 2vw;
  }

  .blog__post__author-icon {
    width: 2.5vw;
    height: 2.5vw;
  }
  .blog__category {
    flex-direction: row;
    gap: 15vw;
  }

  .blog__category-button svg {
    font-size: 12vw;
  }
}
