.contact {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5rem 2rem;
}

.contact__image {
  width: 70%;
  height: auto;
}

.social-media-icons {
  gap: 5px;
}

.social-media-icons svg {
  font-size: 50px;
  transition: color 0.3s ease-in-out;
}

.social-media-icons.horizontal {
  flex-direction: row;
  justify-content: center;
}

.social-media-icons.horizontal svg {
  font-size: 40px;
  color: var(--secondary-theme-color);
  margin: 0 5px;
}

.social-media-icons.horizontal svg:hover {
  color: var(--icon-hover-color);
  transform: none;
}

.social-media-icons.vertical {
  display: flex;
  flex-direction: column;
  transition: color 0.3s ease-in-out;
}

.social-media-icons.vertical svg:hover {
  transform: scale(1.1);
}

.linkedin-icon {
  color: var(--linkedln-color);
}

.github-icon {
  color: var(--github-color);
}

.instagram-icon {
  color: var(--instagram-color);
}
