.contact {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5rem 2rem;
}

.contact__image {
  width: 70%;
  height: auto;
}

.contact__icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact__icons svg {
  font-size: 55px;
  margin: 0 10px;
  color: #000000;
  transition: color 0.3s ease-in-out;
}

.contact__icons svg:hover {
  color: #0072b1;
}
