/* Footer */
.footer {
  background: var(--primary-theme-color);
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}
.footer h2 {
  font-weight: bold;
  color: var(--secondary-theme-color);
  align-self: flex-end; /* Moves the h2 to the right */
  text-align: right; /* Ensures text is aligned to the right */
  width: 100%; /* Ensures it spans the full width */
  padding-right: 20px; /* Adds some spacing from the edge */
}

.footer__arrow {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: double var(--secondary-theme-color);
  border-width: 5px 5px 0 0;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer__arrow:hover {
  transform: translateY(-5px) rotate(-45deg) scale(1.2);
}
