.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__intro {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.masonry-grid {
  column-count: 2;
}

.masonry__item {
  margin-bottom: 4%;
  padding: 0.5rem;
  background-color: var(--light-oak);
  animation: fade-in 0.8s ease-in-out forwards;
}

.masonry__item:hover img {
  transform: scale(1.02);
  opacity: 0.8;
}

/* Tablet and above */
@media (min-width: 768px) {
  .masonry-grid {
    column-count: 3;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 4;
  }
  .masonry__item {
    margin-bottom: 5%;
    padding: 0.5rem;
  }
}

@media (min-width: 1440px) {
  .masonry-grid {
    column-count: 5;
  }
}
