/* ========== Global ========== */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========== Home Intro ========== */
.home__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.home__intro__text__divider {
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 350;
  opacity: 0.5;
}

.home__intro__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}

.home__intro__image {
  width: 50%;
  max-width: 700px;
  border-radius: 15px;
  animation: fadeIn 1s ease-in;
}

/* ========== Home Skill ========== */
.home__skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__skill__chart {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0;
  margin-bottom: -3rem;
}

.home__skill__chart h1 {
  margin-bottom: -7rem;
  margin-top: 2rem;
}

.home__skill__text {
  width: 400px;
  max-width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home__skill__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home__skill__text h2 {
  font-size: 1.4rem;
  margin-top: -1rem;
}

.MuiPieArcLabel-root {
  fill: white !important;
}
/* ========== Home WorldMap ========== */

.home__worldMap {
  align-items: center;
}

.home__worldMap__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.home__worldMap__intro__text p {
  max-width: 500px;
}

.home__worldMap__legend {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 10rem;
}

.legend__box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.4rem;
  border-radius: 2px;
  vertical-align: middle;
}

.lived {
  background-color: var(--hover);
}

.travelled {
  background-color: var(--light-blue);
}

/* ========== Responsive ========== */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .home__intro {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .home__intro h1 {
    font-size: 2rem;
  }
}
