/* Full-Screen Background Section */
.home {
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
}

.home__intro {
  padding: 2rem 3rem;
  text-align: left;
  animation: fadeIn 1s ease-in;
}

.home__intro h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--home-text-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  margin: 0;
}

.home__intro h2 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--home-text-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  margin: 0;
}

.home__intro p {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--home-text-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}
.home__intro__image {
  width: 70%;
  max-width: 700px;
  border-radius: 15px;
  margin-top: 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: slideInBottom 1.2s ease-in;
}

.home__intro__image:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
}

.home__my_skill {
  background: var(--footer-bg-color);
  height: 100%;
  width: 100%;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;

  /* Initial hidden state for animation */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Once it enters the viewport, animate */
.home__my_skill.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Text container */
.home__my_skill__text {
  padding: 2rem 3rem;
  text-align: left;
}

/* Heading inside text container */
.home__my_skill__text h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--home-text-color);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  margin: 0;
}

/* Image styling */
.home__my_skill__image {
  width: 70%;
  max-width: 700px;
  border-radius: 15px;
  margin-top: 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.home_my_story {
  background: var(--secondary-theme-color);
  text-align: left;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.home_interactive_map {
  background: var(--footer-bg-color);
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

@media (max-width: 768px) {
  .home__intro {
    padding: 1.5rem 2rem;
  }

  .home__intro h1 {
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(70px);
  }
  to {
    transform: translateY(0);
  }
}
