@import "./variables.css";
@import "./navbar.css";
@import "./footer.css";
@import "./home.css";
@import "./portfolio.css";
@import "./timeline.css";
@import "./gallery.css";
@import "./photoViewer.css";
@import "./blog.css";
@import "./contact.css";
@import "./pageNotFound.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

section {
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.95rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  line-height: 2;
  letter-spacing: 1px;
}

ul {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  line-height: 1.6;
  letter-spacing: 1px;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  text-align: left;
}

ul li {
  margin-bottom: 0.5rem;
}

.page__divider {
  width: 90%;
  height: 3px;
  opacity: 0.8;
  background-color: var(--line-break);
}

.page__divider-gradient {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, var(--black), transparent);
  border: none;
  opacity: 0.5;
}

.page__gradient-white {
  height: 50px;
  background-color: var(--white);
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(var(--slide-distance, -150px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(var(--slide-distance, 150px));
  }
  to {
    opacity: 1;
    transform: translateX(var(--slide-destination, 0));
  }
}
