@import "./variable.css";
@import "./navbar.css";
@import "./footer.css";
@import "./home.css";
@import "./contact.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.page__divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 2rem 0;
  opacity: 0.8;
}

.page__divider-gradient {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #000000, transparent);
  margin: 2rem auto;
  border: none;
  opacity: 0.5;
}
