.navbar {
  width: 100%;
  height: 5rem;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  animation: drop-down-fade-in 1.2s ease-out;
  animation-delay: 0.2s;
}

.navbar h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.navbar__logo {
  width: 2.5rem;
  height: auto;
  transition: width 0.3s;
  margin-left: 1rem;
}

.navbar__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__links {
  display: none;
}

.navbar__links a {
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

/* ------------ Tab ------------ */
.navbar__link--inactive {
  color: var(--white);
  padding: 0.5rem 1.25rem;
  border-radius: 0.4rem;
}

.navbar__link--inactive:hover {
  color: var(--nav-hover);
}

/* ------------ Dropdown ------------ */
.navbar__link--active {
  color: var(--nav-hover);
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
}

.navbar__toggle-button {
  display: block;
  /* align-items: center;
  justify-content: flex-end; */
}

.navbar__toggle-button svg {
  font-size: 40px;
}

.navbar__toggle-button button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.navbar__dropdown-links .navbar__link--active span {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
}

.navbar__dropdown-links .navbar__link--active span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--nav-hover) 0%,
    var(--nav-hover) 70%,
    transparent 100%
  );
}

.navbar__dropdown-links {
  display: none;
  background: var(--primary);
  width: 100%;
  overflow: hidden;
  opacity: 0;
  animation: roll-down 0.7s ease-out forwards;
}

.navbar__dropdown-text {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
}

.navbar__dropdown-links.show {
  display: block;
  transition: max-height 0.5s ease-out;
}

.navbar__dropdown-links ul {
  list-style: none;
}

.navbar__dropdown-links ul li {
  padding: 10px 0;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: roll-in 0.4s ease-out forwards;
  border-bottom: 2px solid transparent;
}

.navbar__dropdown-links ul li:last-child {
  border-bottom: none;
}

.navbar__dropdown-links ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.navbar__dropdown-links ul li a:hover {
  color: var(--nav-hover);
  padding: 0.5rem 1.25rem;
}

/* Dropdown Link Animation */
.navbar__dropdown-links ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.navbar__dropdown-links ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.navbar__dropdown-links ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.navbar__dropdown-links ul li:nth-child(4) {
  animation-delay: 0.8s;
}

/* Responsive Styles */

/* Tablet and larger */
@media (min-width: 768px) {
  .navbar__toggle-button {
    display: none;
  }

  .navbar__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--white);
    gap: 1rem;
  }

  .navbar__dropdown-links {
    display: none;
  }
}

/* Desktop and larger */
@media (min-width: 1024px) {
  .navbar__toggle-button {
    display: none;
  }

  .navbar__links {
    display: flex;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
}

/* Animations */
@keyframes drop-down-fade-in {
  from {
    opacity: 0.2;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes roll-in {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes roll-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
