/* ------------ Navbar ------------ */
.navbar {
  height: 5rem;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation: drop-down-fade-in 1.2s ease-out 0.2s;
}

.navbar h2 {
  font-size: 1.2rem;
  margin: 0;
}

.navbar__logo {
  width: 2.5rem;
  margin-left: 2rem;
}

/* ------------ Links ------------ */
.navbar__links {
  display: none;
  color: var(--white);
}

.navbar__link--inactive {
  padding: 0.5rem 1.25rem;
}

.navbar__link--inactive:hover {
  color: var(--nav-hover);
}

.navbar__link--active {
  color: var(--nav-hover);
  padding: 0.5rem 1.25rem;
}

/* ------------ Button ------------ */
.navbar__toggle-button svg {
  font-size: 2.5rem;
}

.navbar__toggle-button button {
  margin-right: 2rem;
  color: var(--white);
}

/* ------------ Dropdown ------------ */
.navbar__dropdown-links {
  display: none;
}

.navbar__dropdown-links.show {
  display: block;
  background: var(--primary);
  transition: max-height 0.5s ease-out;
  animation: roll-down 0.7s ease-out forwards;
}

.navbar__dropdown-links .navbar__link--active {
  border-bottom: solid var(--nav-hover);
  padding-bottom: 0.2rem;
}

.navbar__dropdown-links ul {
  list-style: none;
  color: var(--white);
}

.navbar__dropdown-links ul li {
  padding: 0.7rem;
  text-align: center;
  opacity: 0;
  animation: roll-in 0.4s ease-out forwards;
}

.navbar__dropdown-links ul li a {
  font-size: 1rem;
  padding: 0.2rem;
}

.navbar__dropdown-links ul li:nth-child(1) {
  animation-delay: 0.2s;
}
.navbar__dropdown-links ul li:nth-child(2) {
  animation-delay: 0.4s;
}
.navbar__dropdown-links ul li:nth-child(3) {
  animation-delay: 0.6s;
}
.navbar__dropdown-links ul li:nth-child(4) {
  animation-delay: 0.8s;
}

/* ------------ Responsive ------------ */
@media (min-width: 768px) {
  .navbar__toggle-button {
    display: none;
  }
  .navbar__links {
    display: flex;
  }
  .navbar__dropdown-links {
    display: none !important;
  }
  .navbar__logo {
    width: 3rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    height: 5.5rem;
  }

  .navbar h2 {
    font-size: 1.3rem;
  }

  .navbar__logo {
    width: 3rem;
    margin-left: 3rem;
  }

  .navbar__links {
    gap: 2rem;
  }
}

@media (min-width: 1440px) {
  .navbar {
    height: 6rem;
  }

  .navbar h2 {
    font-size: 1.4rem;
  }

  .navbar__logo {
    width: 3.5rem;
    margin-left: 4rem;
  }

  .navbar__links {
    gap: 4rem;
  }
}

/* ------------ Animations ------------ */
@keyframes drop-down-fade-in {
  from {
    opacity: 0.2;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes roll-in {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes roll-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
