.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageNotFound__intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.pageNotFound__text {
  max-width: 800px;
  text-align: left;

  --slide-distance: -200px;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-name: slide-from-left;
}
