/* Portfolio Section */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

/* Intro Section */
.portfolio__intro {
  text-align: center;
}

.portfolio__intro h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* Project List Container */
.portfolio__project-list {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  place-items: center;
  transition: grid-template-columns 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Individual Project Item */
.portfolio__project {
  border-radius: 15px;
  padding: 1em;
  background-color: var(--white);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in;
  overflow: hidden;
}

.portfolio__project:hover {
  box-shadow: 0px 4px 15px rgba(21, 0, 80, 0.3);
  cursor: pointer;
}

.portfolio__project__image {
  border-radius: 15px;
}
/* Project Item Description */
.portfolio__project__desc {
  width: 100%;
  text-align: left;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  margin-top: 5px;
}

.portfolio__project__desc h4 {
  font-size: 1.1rem;
  color: var(--text-primary);
  margin: 0;
  transition: color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio__project__desc p {
  font-size: 1rem;
  color: var(--text-primary);
  margin: 0;
  font-weight: 300;
  transition: opacity 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For screens smaller than 830px (display 1 column) */
@media only screen and (max-width: 830px) {
  .portfolio__project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For screens between 831px and 1024px (display 2 columns) */
@media only screen and (min-width: 831px) and (max-width: 1024px) {
  .portfolio__project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens larger than 1024px (display 3 columns) */
@media only screen and (min-width: 1025px) {
  .portfolio__project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
