/* Portfolio Section */
.portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Intro Section */
.portfolio__intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  background: linear-gradient(135deg, #c1846e, #040303);
  color: white;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 3rem 0;
}

.portfolio__intro h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.portfolio__intro h3 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  max-width: 800px;
  margin-bottom: 2rem;
  font-style: italic;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.portfolio__intro__image {
  width: 50%;
  max-width: 500px;
  border-radius: 15px;
  margin-top: 2rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio__intro__image:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
}

/* Project List Container */
.portfolio__project-list {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
  transition: grid-template-columns 0.3s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Individual Project Item */
.portfolio__project {
  border-radius: 15px;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in;
  overflow: hidden;
}

.portfolio__project:hover {
  box-shadow: 0px 3px 15px rgba(21, 0, 80, 0.3);
  cursor: pointer;
}

.portfolio__project__image {
  border-radius: 15px;
}
/* Project Item Description */
.portfolio__project__desc {
  width: 100%;
  text-align: left;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

/* Title Styling */
.portfolio__project__desc h4 {
  font-size: 1.1rem;
  color: #929397;
  font-weight: 300;
  margin: 0;
  transition: color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Project Type Styling */
.portfolio__project__desc p {
  font-size: 1rem;
  color: #666;
  margin: 0;
  opacity: 0.8;
  transition: opacity 0.3s ease, color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Responsive Styling */

/* For screens smaller than 830px (display 2 columns) */
@media only screen and (max-width: 830px) {
  .portfolio__project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens between 830px and 1024px (display 2 columns) */
@media only screen and (min-width: 831px) and (max-width: 1024px) {
  .portfolio__project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens larger than 1024px (display 3 columns) */
@media only screen and (min-width: 1025px) {
  .portfolio__project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
