.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Intro Section */
.project__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project__tags {
  margin-top: 1rem;
}

.project__tag {
  display: inline-block;
  background-color: var(--light-blue);
  color: var(--white);
  padding: 0.3rem 0.7rem;
  margin: 0.3rem;
  font-size: 0.85rem;
}

.project__images {
  width: 90%;
}

/* Tablet and above */
@media (min-width: 768px) {
  .project {
    flex-direction: row;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
}
