.timeline-container {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline-step {
  display: flex;
  align-items: flex-start;
}

.timeline-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--timeline);
  border: 0.1rem solid var(--white);
  border-radius: 100%;
}

.timeline-connector {
  width: 0.15rem;
  height: 10rem;
  background-color: var(--timeline);
}

.timeline-text {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  height: 10rem;
}

.timeline-text h2 {
  margin-bottom: 0;
}

/* Detail text shown when active */
.timeline-text p {
  font-size: 0.85rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  animation: fade-in 0.7s ease-in;
}

.timeline-step.visible .timeline-text p {
  display: block;
}

.timeline-step.active .timeline-text p {
  display: none;
}

/* Tablet and above */
@media (min-width: 768px) {
  .timeline-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
  }

  .timeline-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    scroll-snap-align: start;
  }

  .timeline-top {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .timeline-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
  }

  .timeline-connector {
    width: 5rem;
    height: 0.15rem;
    flex-shrink: 0;
  }

  .timeline-text {
    margin: 0.8rem 0 0;
    width: 5rem;
  }

  .timeline-text h2 {
    font-size: 0.8rem;
  }
  .timeline-text p {
    font-size: 0.7rem;
  }

  .timeline-step.visible .timeline-dot {
    background-color: var(--timeline); /* disable visible effect */
  }

  .timeline-step.active .timeline-dot {
    background-color: var(--hover); /* enable click effect */
  }

  .timeline-step.visible .timeline-text p {
    display: none;
  }
  .timeline-step.active .timeline-text p {
    display: block;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .timeline-container {
    width: 90%;
  }
  .timeline-dot {
    width: 1rem;
    height: 1rem;
    background-color: var(--timeline);
    border: 0.1rem solid var(--white);
    border-radius: 100%;
  }

  .timeline-connector {
    width: 8rem;
    height: 0.15rem;
    flex-shrink: 0;
  }
  .timeline-text {
    margin: 0.8rem 0 0;
    width: 8rem;
    height: 30vh;
  }

  .timeline-text h2 {
    font-size: 1rem;
  }
  .timeline-text p {
    font-size: 0.9rem;
  }
}
