body {
  height: 100%;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--text-primary);
}

section {
  width: 90%;
  max-width: 1200px;
  padding: 2rem;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-secondary);
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.page__divider {
  width: 80%;
  height: 3px;
  background-color: var(--line-break);
  opacity: 0.8;
}

.page__divider-gradient {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, var(--black), transparent);
  border: none;
  opacity: 0.5;
}

.page__gradient-white {
  height: 50px;
  background-color: var(--white);
  width: 100%;
}
