:root {
  /* === Base Colors === */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);

  /* === Grayscale Palette === */
  --line-break: rgba(204, 204, 204, 1);
  --gray-400: rgba(176, 176, 176, 1);
  --gray-600: rgba(107, 107, 107, 1);
  --gray-700: rgba(53, 53, 53, 1);

  /* === Theme Colors === */
  --primary: rgba(59, 68, 75, 1); /* primary site theme color */

  /* === Typography Colors === */
  --text-primary: var(--gray-700); /* for main body text */
  --text-secondary: var(--gray-600); /* for muted/secondary text */

  /* === Interactive Elements === */
  --hover: rgba(0, 114, 177, 1); /* hover state for icons */
  --nav-hover: var(--gray-400); /* hover state for navbar links */
  --timeline: var(--light-oak);
  /* === Social Media Brand Colors === */
  --linkedln: rgba(0, 119, 181, 1);
  --github: rgba(26, 11, 11, 1);
  --instagram: rgba(238, 42, 123, 1);
  --light-oak: rgba(210, 180, 140, 1);

  /* Typography */
  --font-primary: "Montserrat", sans-serif;
  --font-size-base: 16px;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
