:root {
  --primary-theme-color: #3b444b;
  --secondary-theme-color: #ffffff;
  --icon-hover-color: #0072b1;

  /* navbar */
  --link-hover-color: #b0b0b0;
  --link-selected-color: #b0b0b0;
  --link-padding-x: 1.25rem;
  --link-padding-y: 0.5rem;
  --dropdown-border-color: #b0b0b0;

  /* footer */
  --footer-bg-color: #f3f3f3;
  --footer-arrow-color: #b1b1b1;

  /* home */
  --home-text-color: #353535;
  --home-intro-bg-color: #c4c4c4;

  /* portfolio */
  --project-text-color: #353535;

  --light-oak-color: rgba(210, 180, 140, 1);
  --medium-walnut: rgba(139, 69, 19, 1);
  --dark-mahogany: rgba(92, 51, 23, 1);
  --grayish-driftwood: rgba(112, 87, 65, 1);

  /* blog */
  --blog-title-color: #353535;
  --blog-desc-color: #6b6b6b;
  --blog-category-color: #8b8a8a;

  /* contact */
  --linkedln-color: #0077b5;
  --github-color: #171515;
  --instagram-color: #ee2a7b;
}
