.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.blog__intro {
  display: flex;
  text-align: left;
  flex-direction: column;
}

/* Blog posts section */
.blog__contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}

.blog__category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.blog__category-button svg {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 4rem;
  color: var(--text-secondary);
}

.blog__category-button svg:hover {
  transform: scale(1.1);
  color: var(--hover);
}

.blog__post {
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.blog__post__cover {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

.blog__post__text {
  text-align: left;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.blog__post__text h2 {
  font-size: 1.2rem;
}

.blog__post__text p {
  max-height: 4rem;
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__read-more {
  margin-top: 0.5rem;
  transition: color 0.2s ease;
}
.blog__read-more:hover {
  color: var(--hover);
  text-decoration: underline;
  cursor: pointer;
}

/* Tablet and above */
@media (min-width: 768px) {
  .blog__contentBlock {
    width: 90%;
  }

  .blog__post {
    max-width: 80%;
  }

  .blog__post__text h2 {
    font-size: 1.4rem;
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .blog__contentBlock {
    width: 70%;
  }
  .blog__post {
    max-width: 70%;
  }
  .blog__post__text h2 {
    font-size: 1.6rem;
  }
}
