.post__page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.post__page__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post__page__media {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
